In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import urllib
from os import path
import pandas as pd
import time
import pickle
driver=webdriver.Chrome()

In [2]:
amount_of_routes = 30
climbing_dic = {'name':{},'grade':{},'completed':{},'location_1':{},'location_2':{}}
error_log=[]

In [9]:
# code will loop through all possible climbs by webpage#
# outputs: name, grade, count of times climbed, regional location, sublocation

def web_scrape(climbing_dic,error_log,amount_of_routes,start_point=1):
    base_location='https://www.ukclimbing.com/logbook/c.php?i='
    for i in range(start_point,amount_of_routes):
        page_location = '{0}{1}'.format(base_location,i)
        driver.get(page_location)
        try:
            el=driver.find_element_by_xpath("//small")
            el1=driver.find_element_by_xpath("//div[@class='progress-bar bg-success polltype1']")
            title=el1.get_property('title')
            climb_name = driver.title
            climb_name = climb_name[climb_name.find('-')+2:]
            climb_grade=el.text
            climb_completed=int(title[title.find('of')+3:title.find('votes')-1])
            location_1=driver.find_element_by_xpath("//li[@class='breadcrumb-item d-none d-sm-inline-block']")
            location_1 = location_1.text
            location_2 = driver.find_elements_by_xpath("//li[@class='breadcrumb-item']")[1].text
            climbing_dic['name'][i]=climb_name
            climbing_dic['grade'][i]=climb_grade
            climbing_dic['completed'][i]=climb_completed
            climbing_dic['location_1'][i]=location_1
            climbing_dic['location_2'][i]=location_2
            climb_style=driver.find_elements_by_xpath("//div[@class='col-4 tiny text-right text-success']")
            climb_style_completed=driver.find_elements_by_xpath("//div[@class='card-body'][1]//div[@class='progress']//div[@class='progress-bar bg-success']")
            # adds all the potential styles that a climb could be done in
            for counter, style in enumerate(climb_style):
                if style.text not in climbing_dic.keys():
                    climbing_dic[style.text]={}
                climbing_dic[style.text][i]=float(climb_style_completed[counter].get_attribute('aria-valuenow'))
        except:
            error_log.append(i)
    # pickle dictionary for later use
    pickle_file = open('climbingdic.pkl','wb')
    pickle.dump(climbing_dic,pickle_file)
    print('errored pages: {0}'.format(len(error_log)))
    print('Records scraped: {0}'.format(len(climbing_dic['name'])))

In [10]:
web_scrape(climbing_dic=climbing_dic,error_log=error_log,amount_of_routes=amount_of_routes,start_point=len(climbing_dic['name']))

errored pages: 1
Records scraped: 29

In [11]:
pd.DataFrame(climbing_dic)

,Alt Leads,Bouldered,Flashed (β),Ground Up,Lead,Onsighted,Redpoint,Repeated,Soloed,completed,grade,location_1,location_2,name
1,61.781076,NaN,1.484230,0.371058,13.172542,45.454545,0.371058,2.597403,0.371058,98,E1 5b,Orkney Islands,Logbooks,'East Face Route (Original Route)'
2,56.250000,NaN,NaN,NaN,25.000000,75.000000,NaN,NaN,NaN,8,E3 5c,Orkney Islands,Logbooks,'A Few Dollars More'
3,8.906883,0.404858,NaN,NaN,7.287449,29.959514,NaN,2.429150,55.465587,31,VD,Arran,Logbooks,'A'Chir Ridge'
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,HVS 5a,Arran,Logbooks,'Minaret'
5,54.054054,NaN,2.702703,NaN,18.918919,54.054054,NaN,NaN,10.810811,12,S,Arran,Logbooks,'Pagoda Ridge'
6,65.000000,NaN,NaN,NaN,15.000000,35.000000,NaN,NaN,NaN,7,VS 4b,Arran,Logbooks,'Mosque'
7,NaN,7.142857,7.142857,NaN,21.428571,71.428571,NaN,14.285714,64.285714,2,E3 5c,North Yorkshire,Logbooks,'Envy of Angels'
8,NaN,5.000000,7.500000,2.500000,42.500000,52.500000,5.000000,5.000000,30.000000,4,HVS 5b,North Yorkshire,Logbooks,'Angelic Upstart'
9,NaN,0.473934,3.317536,0.473934,57.819905,43.601896,0.473934,7.109005,5.213270,20,VS 5a,North Yorkshire,Logbooks,'Pram Pusher's Paradise'
10,NaN,4.761905,4.761905,NaN,28.571429,76.190476,NaN,NaN,42.857143,2,HVS 5b,North Yorkshire,Logbooks,'A Step in the Right Direction'
11,NaN,NaN,3.809524,NaN,52.380952,43.809524,NaN,7.619048,9.523810,8,VS 5a,North Yorkshire,Logbooks,'V Chimney Direct'
12,0.921659,NaN,2.534562,0.230415,47.465438,35.023041,0.691244,12.903226,15.668203,49,HVD,North Yorkshire,Logbooks,'V Chimney and Traverse'
13,NaN,NaN,15.625000,NaN,65.625000,62.500000,NaN,9.375000,6.250000,3,E1 5b,North Yorkshire,Logbooks,'Up Periscope'
14,NaN,NaN,5.882353,NaN,47.058824,47.058824,NaN,NaN,20.588235,1,HVS 5b,North Yorkshire,Logbooks,'Depth Charger'
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,E2 5c,North Yorkshire,Logbooks,'Trident'
16,NaN,NaN,4.166667,NaN,54.166667,41.666667,NaN,NaN,12.500000,2,E2 5c,North Yorkshire,Logbooks,'Torpedo'
17,0.403226,0.403226,3.225806,NaN,48.387097,47.177419,NaN,6.854839,10.887097,13,VS 4c,North Yorkshire,Logbooks,'Pigott's Stride'
18,NaN,11.475410,6.557377,3.278689,27.049180,32.786885,11.475410,9.016393,40.163934,9,HVS 6a,North Yorkshire,Logbooks,'V Crack'
19,NaN,NaN,27.272727,NaN,45.454545,27.272727,NaN,NaN,NaN,1,E2 5b,North Yorkshire,Logbooks,'Spirit Level'
20,1.171548,NaN,2.677824,0.418410,53.389121,43.765690,1.255230,9.121339,4.351464,52,HS 4b,North Yorkshire,Logbooks,'Square Chimney & Whisky Crack'
21,NaN,NaN,8.029197,0.729927,40.875912,40.875912,5.109489,5.839416,2.919708,23,E3 5b,North Yorkshire,Logbooks,'Whisky Wall'
22,NaN,NaN,5.555556,NaN,22.222222,11.111111,27.777778,NaN,11.111111,2,E4 6a,North Yorkshire,Logbooks,'Whisky Wall Direct'
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,E5 6c,North Yorkshire,Logbooks,'Wharfedale Wall'
24,0.593472,NaN,1.632047,0.148368,48.071217,41.839763,1.038576,12.314540,11.275964,38,S 4b,North Yorkshire,Logbooks,'Fluted Crack'
25,0.315679,0.350754,2.455279,0.105226,47.527183,37.425465,0.420905,20.624342,15.994388,211,HVD 3c,North Yorkshire,Logbooks,'Fluted Columns'
26,0.491918,0.140548,1.827126,0.070274,49.191848,39.985945,0.421644,16.936051,13.633169,109,S 4a,North Yorkshire,Logbooks,'Pinnacle Flake Climb'
27,0.229358,0.229358,1.146789,0.458716,42.201835,37.614679,0.458716,21.100917,22.935780,13,S 4a,North Yorkshire,Logbooks,'Pinnacle Direct'
28,0.262329,0.734523,2.151102,0.104932,36.621196,37.303253,0.367261,20.199370,33.892970,115,D,North Yorkshire,Logbooks,'Low Man Easy Way'
29,0.374298,0.249532,2.121023,0.187149,43.668122,36.119775,0.499064,21.584529,21.522146,92,HVD,North Yorkshire,Logbooks,'Stew Pot'